{% extends "layout/body.html" %}
{% block main %}
<section class="py-5 px-2 row justify-content-center">

  <!-- START CARD 1 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/balance"> -->
          <h3 class="card-title h5 text-center text-uppercase">Balance</h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          Balance disorders are among the most frequent impairments of individuals who have sustained a brain injury.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/balance" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 1 -->

  <!-- START CARD 2 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/unilateral"> -->
          <h3 class="card-title h5 text-center text-uppercase">Unilateral</h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          Unilateral spatial neglect is a common and heterogeneous clinical consequence usually observed after a damage to the non-dominant cerebral hemisphere.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/unilateral" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 2 -->

  <!-- START CARD 3 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/self"> -->
          <h3 class="card-title h5 text-center text-uppercase">self-awareness</h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          The successful alleviation of the clinical consequences of acquired brain injury depends not only on their intensity, but also on their level of self-awareness.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/self" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 3 -->

  <!-- START CARD 4 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/upper"> -->
          <h3 class="card-title h5 text-center text-uppercase">Upper limb</h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          Motor impairments are a common consequence after acquired brain injury and a major cause of disability.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/upper" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 4 -->

  <!-- START CARD 5 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/disorders"> -->
          <h3 class="card-title h5 text-center text-uppercase">Disorders of consciousness</h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          After a severe injury to the brain, individuals may present difficulties to maintain awareness of themselves and of the environment, and to respond to environmental stimuli.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/disorders" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 5 -->

  <!-- START CARD 6 -->
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <!-- <a class="text-dark text-decoration-none" href="/areas/show/techno"> -->
          <h3 class="card-title h5 text-center text-uppercase">Technological research </h3>
        <!-- </a> -->
        <hr class="bg-primary" >
        <p class="text-justify">
          Technological research oriented toward engineering disciplines has developed tools, equipment and procedures that have helped to overcome some limitations of traditional approaches and even have provided solutions to specific problems.
        </p>
      </div>
      <div class="card-footer d-flex justify-content-end pb-2 pl-3 pr-3 pt-2 small" >
        <a href="/areas/show/techno" class="btn btn-outline-primary">More</a>
      </div>
    </div>
  </div>
  <!-- END CARD 6 -->

</section>
{% endblock %}
