{% extends "layout/body.html" %}
{% block main %}
<section class="">
  <div class="" style="">
    <div>
      <h2 class="mb-0 text-primary">Details</h2>
      <hr class="mt-0">
      
      <div class="mx-2">
        <p class="h5 text-justify">
          We are open to new ideas and we value collaboration and partnerships. Our strategy relies heavily on successful
          partnerships around the world that will help us to improve our research and clinical practice.<br />
        </p>
        <p class="h5 text-justify">
          We welcome students and doctoral fellows to our exciting research activities. We continuously offer Master
          Thesis opportunities for undergraduate students in our&nbsp;
          <a href="https://mibvalencia.es/"><span>Mater of Science in Biomedical Engineering</span></a>&nbsp;and exciting
          research projects for our&nbsp;<a
            href="http://www.mibvalencia.es/web.php?lang=en&amp;amp;id=16&amp;amp;title=Master%27s-description"><span>Doctorate
              of Philosophy</span></a>&nbsp;in the&nbsp;<a href="http://www.upv.es/">Universitat Politècnica de
            València</a>&nbsp;that help students to pursue careers in research, teaching, or industry. Postdoctoral
          fellows and associates are of utmost important in our group, contributing to the depth and breadth of our
          work.
        </p>
      </div>

      <h2 class="mb-0 mt-5 text-primary">Adress</h2>
      <hr class="mt-0" >
      <div class="mx-2">
        <p class="h5 mb-2">Neurorehabilitation and Brain Research Group,&nbsp;i3B Institute</p>
        <p>
          Universitat Politècnica de València, Camino de Vera s/n, 46022&nbsp;Valencia (Spain),&nbsp;Ciudad Politécnica de
          la Innovación, Edificio 8B – Cubo Azul – Acceso M – Planta&nbsp;0
        </p>
      </div>

      <div>
        <p class="mt-5">
          <a href="mailto:nrhbgroup@gmail.com"><i class="h4 text-primary bi bi-envelope-fill"></i></a>
          <span class="ms-2">nrhbgroup@gmail.com</span>
        </p>
        <p>
          <a href="tel:+34963877518"><i class="h4 text-primary bi bi-telephone-fill"></i></a>
          <span class="ms-2">+34 963 877 518 (Ext. 67042)</span>
        </p>
      </div>

      <iframe class="mt-5" allowfullscreen="" frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3Z6u9sAv1wUSWug12N4vWF3HP-paKHLs&amp;q=LabLENI+Cam%C3%AD+de+Vera%2C+46022+Val%C3%A8ncia%2C+Valencia&amp;zoom=16"
        width="100%" height="400"></iframe>
    </div>
  </div>
</section>
{% endblock %}
