<!DOCTYPE html>
<html>

<head>
  <title>{{ title }} | Neurorehabilitation &amp; brain research group</title>

  <meta charset="utf-8">
  <meta name="author" content="NRHB">
  <meta name="author" content="Raúl Callado Montero">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Dependencias -->
  <link rel="icon" type="image/png" href="/resources/uploads/img/favicon-1.ico">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">

  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/customStyles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>

<body class="bg-light">

  {% block body %}{% endblock %}

  <!-- Dependencias -->
  <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
