{% extends "layout/body.html" %}
{% block main %}
<section class="clean-block clean-faq dark">
  <div class="container">
    <div style="padding-top: 0px; margin-top: 60px">
      <hr />
      <div class="d-flex justify-content-end faq-item" style="margin-bottom: 0px">
        <em class="h5">
          Balance disorders are among the most frequent impairments of individuals who have sustained a brain injury.
          The rehabilitation of balance is a major goal for interventions because balance and postural control are
          crucial in most daily activities. In 1986, Horak and Nashner postulated that the balance behavior, however
          complex it may be, consists of a limited repertoire of central motor programs. They identified three different
          movement synergies, known as the ankle, the hip, and the stepping strategy, which are executed continuously
          with the common objective of stance, but with different mechanisms. While the goal of the ankle and hip
          strategies is to maintain the center of pressure within the base of support, the stepping strategy aims to
          expand the base of support in such a way it includes the center of pressure. Leaving aside the controversy of
          these findings, in a series of experiments we have investigated the effect of training these strategies
          through virtual reality-based interventions in the balance condition after a brain injury.
        </em>
        <br />
      </div>
    </div>
    <div class="shadow-none block-content">
      <div class="faq-item">
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Ankle and hip strategy</strong><br /></h4>
          <hr />
          <p style="">
            Systems based on force platforms are particularly interesting, since they enable to estimate the weight
            distribution of the patients by means of pressure sensors. In contrast to laboratory-grade systems, the Wii
            Balance Board (Nintendo®, Kyoto, Japan), a peripheral of the Wii gaming system, is an inexpensive interface
            (less than $100) that has widespread availability. The Wii Balance Board also has the advantage of being
            portable, easy, and comfortable to handle thanks to its small size (0.511 m wide by 0.316 m long by 0.053 m
            thick) and weight (3.5 kg without batteries). Furthermore, it is a device with Bluetooth wireless
            connectivity that is battery operated. The Wii Balance Board contains four force sensors (located in each
            corner) that are used to measure the user’s center of balance and weight. Users can interact with the game
            by means of weight transferences. Although their hardware features are very interesting, the Wii Balance
            Board videogames are oriented to the entertainment of healthy population, and may require motor and
            cognitive skills that individuals with acquired brain injury may lack. To overcome this limitation, we
            designed different exercises that promoted the training of the ankle and hip strategies. Exercises provided
            audiovisual information of the center of pressure and required participants to displace it towards different
            targets in the virtual environment through weight transferences and postural readjustments.<br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Bo2Q3FEy8Ls" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            The efficacy of the training of the ankle and hip strategies was initially tested in randomized controlled
            trial on a sample of chronic hemiparetic individuals with acquired brain injury.<sup><a href="#References"
                style="color: red">1</a></sup>
            Participants underwent a physical therapy program or combined physical therapy with customized exercises
            using the Wii Balance Board. After an intensive intervention, participants in the experimental group
            significantly improved their balance condition compared to patients who underwent traditional therapy. In
            addition, participants reported the experienced as enjoyable and motivational. These results were replicated
            in a longitudinal study on a stroke sample, which also proved that the improvements were maintained one
            month after the intervention.<sup><a href="#References" style="color: red">2</a></sup><br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/13-Ankle_Hip.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/14-Ankle_Hip.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/15-Ankle_Hip.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/16.png"
                  alt="Slide Image" />
              </div>
            </div>
            <div>
              <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                  class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                  class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="1"></li>
              <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Stepping strategy</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            With regards to the stepping strategy, in order to estimate the participants’ feet movements we used
            different tracking solutions along time, as an optical solution using OptiTrack V100:R2 cameras
            (NaturalPoint, Corvallis, OR, USA) with two reflective markers, the electromagnetic G4 with two sensors
            (Polhemus, Colchester, VT, USA), or the Kinect or Kinect v2 (Microsoft, Redmond, WA, USA), which enable
            human pose recognition from depth images and provides the 3D position of many body joints without any
            wearable device. It is important to highlight that subjective perceptions and preferences are far from being
            constant among different populations, thus suggesting that these considerations, together with the
            performance parameters, should be also taken into account when designing a rehabilitation system.<sup><a
                href="#References" style="color: red">3</a></sup>

            To train the stepping strategy we designed an exercise that immersed the participants in a 3D virtual
            environment, where their feet were represented by two shoes that mimicked their movement in the real world.
            Initially, both shoes appeared in the center of the virtual environment inside a circle, around which some
            items rose from the ground. The objective of the task was to reach the items with the nearer foot while
            maintaining the other foot within the circle. A third-person view, which allowed the participants to see the
            virtual items all around them, was used.<br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <iframe width="631" height="355" src="https://www.youtube.com/embed/q48pU60oo1k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            A preliminary study involving individuals with acquired brain injury and optical tracking showed that the
            training of the stepping strategy could provide benefits to the balance condition.<sup><a href="#References"
                style="color: red">4</a></sup>
            Interestingly, a setting using the novel skeleton-based tracking devices, as the Kinect, was shown to
            provide similar effects.<sup><a href="#References" style="color: red">5</a></sup>

            A randomized controlled trial involving chronic hemiparetic stroke survivors and a very similar design
            evidenced greater improvement in balance in the experimental group when compared to the control
            group.<sup><a href="#References" style="color: red">6</a></sup>
            Again, participants’ feedback was very positive. The training of the stepping exercise could have improved
            the speed and precision of the supporting base changes and one-leg standing ability, which are important
            abilities for many daily activities, such as walking (one-leg support phase). The novel Kinect-based
            technology allows motion tracking at a low cost in such a way that these devices can be used for in-home
            rehabilitation. In a randomized controlled trial we examined whether an intervention with these devices can
            be effective and save costs.<sup><a href="#References" style="color: red">7</a></sup> Our results evidenced
            that virtual reality-based telerehabilitation interventions can promote the reacquisition of locomotor
            skills associated with balance in a similar way that in-clinic interventions, both complemented with a
            conventional therapy program. In addition the usability and the motivation of both interventions can be
            similar. And finally, the telerehabilitation interventions can involve savings that vary depending on each
            particular scenario.<br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/5-stepping.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/6-stepping.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/7-stepping.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/8-stepping.png"
                  alt="Slide Image" />
              </div>
            </div>
            <div>
              <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                  class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                  class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="1"></li>
              <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>

        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Assessment</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Posturography systems that incorporate force platforms are considered to assess balance and postural control
            with greater sensitivity and objectivity than conventional clinical tests. The Wii Balance Board has been
            shown to have similar performance characteristics as other force platforms, but with lower cost and size. We
            have designed a web-based tool that allows clinicians to carry out posturographic assessments using the Wii
            Balance Board.<sup><a href="#References" style="color: red">8</a></sup> Benefits of this tool are that it is
            freely available to the public and that results can be shared among sites. The system can be acessed
            <a href="#References" style="color: blue">here</a> or from the
            <a href="#References" style="color: blue">Resources</a> accessed area in our website. Healthy individuals
            and individuals with stroke participated in the study. Both groups were assessed using the Wii Balance
            Board-based posturography system. Individuals with stroke were also assessed using a laboratory grade
            posturography system and a battery of clinical tests to determine the concurrent validity of the system. A
            group of subjects were assessed twice with the Wii Balance Board-based system to determine its reliability.
            Concurrent validity with another posturography system was moderate to high. Correlations with clinical
            scales were consistent with previous research. The reliability of the system was excellent in almost all
            measures. In addition, the system successfully characterized individuals with stroke with respect to the
            healthy population. The Wii Balance Board-based posturography system exhibited excellent psychometric
            properties and sensitivity for identifying balance performance of individuals with stroke in comparison with
            healthy subjects, which supports feasibility of the system as a clinical tool.
            <br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <iframe width="631" height="355" src="https://www.youtube.com/embed/42Nyslp6evY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div style="margin-top: 38px" id="References">
          <h4 class="question" style="font-size: 24px"><strong>References</strong><br /></h4>
          <hr />
          <ol>
            <li>
              Gil-Gómez J., Llorens R., Alcañiz M., Carolina C. Effectiveness of a Wii balance board-based system
              (eBaViR) for balance rehabilitation: a pilot randomized clinical trial in patients with acquired brain
              injury. Journal of NeuroEngineering and Rehabilitation, 2011. 8:30.
            </li>
            <li>
              Llorens R., Albiol S., Gil-Gómez J.A., Alcañiz M., Colomer C., Noé E. Balance rehabilitation using
              custom-made Wii Balance Board exercises: clinical effectiveness and maintenance of gains in acquired brain
              injury population. International Journal on Disability and Human Development, 13 (3): 327–332.
            </li>
            <li>
              Llorens R., Noé E., Naranjo V., Borrego A., Latorre J., Alcañiz M. Tracking Systems for Virtual
              Rehabilitation: Objective Performance vs. Subjective Experience. A Practical Scenario. Sensors, 2015,
              15(3), 6586-6606.
            </li>
            <li>
              Llorens R., Colomer-Font C., Alcañiz M., Noé-Sebastián E. BioTrak virtual reality system: effectiveness
              and satisfaction analysis for balance rehabilitation in patients with brain injury. Neurología, 2012. 28
              (5).
            </li>
            <li>
              Llorens R., Alcañiz M., Colomer C., Navarro M.D. Balance recovery through virtual stepping exercises using
              Kinect skeleton tracking: a follow‐up study. Studies in Health Technology and Informatics, 2012. 181:
              108-112.
            </li>
            <li>
              Llorens R., Gil-Gómez J., Alcañiz M., Colomer C., Noé E. Improvement of balance using a virtual reality
              based stepping exercise: a randomized controlled trial involving individuals with chronic stroke. Clinical
              Rehabilitation, 2015. 29(3):261-8.
            </li>
            <li>
              Llorens R., Noé E., Colomer C., Alcañiz M. Effectiveness of a VR-based telerehabilitation program for
              balance recovery after stroke: a randomized controlled trial. Archives of Physical Medicine and
              Rehabilitation, 2015. 96(3):418-425.
            </li>
            <li>
              Llorens R., Latorre J., Noé E., Keshner E.A. Posturography using the Wii Balance Board™. A feasibility
              study with healthy adults and adults post-stroke. Gait and Posture, 2016. 43:228-32.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
