{% extends "layout/body.html" %} {% block header %}
<div class="mt-5" style="padding-top: 4.5rem">
  <h1 class="display-4 text-center text-dark">Areas</h1>
</div>
{% endblock %} {% block main %}
<section class="clean-block clean-faq dark">
  <div class="container">
    <div style="padding-top: 0px; margin-top: 60px">
      <h1 class="display-4 text-left text-dark" style="margin: 7px; margin-bottom: -9.8px; margin-left: -4px">
        Disorders of consciousness
      </h1>
      <hr />
      <div class="d-flex justify-content-end faq-item" style="margin-bottom: 0px">
        <em class="paFacilities" style="font-size: 25px">
          <p>
            <br />After a severe injury to the brain, individuals may present difficulties to maintain awareness of
            themselves and of the environment, and to respond to environmental stimuli. Recovery of consciousness
            usually moves from the comatose phase to an unresponsive wakefulness syndrome, where wakefulness is
            preserved but there are no signs of awareness, to a minimally conscious state, where subjects can present
            certain level of awareness although not consistent enough to enable communication, or to a locked-in
            syndrome, where awareness is present but no motor response.<br /><br />
            Disorders of consciousness represent a neurologic challenge from a diagnostic, prognostic, and therapeutic
            point of view. Misdiagnosis reaches up to 15% to 43% of the cases, prognosis is uncertain, and no treatment
            has been empirically shown to be effective. During the last two decades, the increased survival and the
            prolonged life expectancy of these individuals have generated an increase in case incidence and prevalence,
            and consequently a renewed clinical and scientific concern. However, more efforts are still needed to
            improve current clinical knowledge about these states.<br />
          </p>
        </em>
      </div>
    </div>
    <div class="shadow-none block-content">
      <div class="faq-item">
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Prognosis and assessment tools</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            To facilitate diagnosis, a number of standardized assessment tools and scales to track patients
            transitioning between unconsciousness and consciousness have been developed.<sup><a href="#References"
                style="color: red">1</a></sup>
            The revision of the Coma Recovery Scale includes all the behavioral criteria necessary to diagnose those
            individuals in a minimally conscious state (MCS), and those emerging from MCS, according to the clinical
            criteria established by the Aspen Workgroup. Some studies that involved these neurologic situations focused
            on describing predictors of outcome. Age, chronicity, etiology are the most common predictors of outcome
            analyzed in previous investigations. Since the categorization of MCS in most of the studies were made based
            on a retrospective analysis of clinical data, with a significant effort to match any clinical sign observed
            along the evolution of the disease with actual standardized clinical criteria. Data derived from initial
            retrospective analysis suggested that, in contrast to patients in an unresponsive wakefulness syndrome
            (UWS), those in an MCS may have better short- and long-term outcomes.
          </p>
          <br />

          <p style="font-size: 22px">
            We conducted a prospective study describing the clinical characteristics and short-term pattern of evolution
            of a sample of individuals within one year after a brain injury that led to a UWS or an MCS according to
            their scores on the Spanish version of the Coma Recovery Scale–Revised, aiming to provide practitioners with
            a useful tool for prospective evaluation of those neurologic aspects that are of clinical and prognostic
            relevance in this population.<sup><a href="#References" style="color: red">2</a></sup>
          </p>
          <br />

          <p style="font-size: 22px">
            Our results showed that emergence from an MCS was mostly associated with improvement in both the
            communication and motor function scales. Lesser chronicity and the presence of more than visual behavioral
            responses at admission were both significant predictors of emergence from an MCS. The CRS-R proved to be
            appropriate for establishing an immediate prognosis in this population.
          </p>
          <br />

          <p style="font-size: 22px">
            In addition, in another study we found a significant high correlation between our version of the CRS-R and
            the Loewenstein Communication Scale and a moderate correlation with the Disability Rating Scale, while no
            significant correlation with the Glasgow Coma Scale.<sup><a href="#References"
                style="color: red">3</a></sup>
            These results the existing differences among tools for assessing disorders of consciousness.
          </p>
          <br />
        </div>
        <div style="margin-top: 38px" id="References">
          <h4 class="question" style="font-size: 24px"><strong>References</strong><br /></h4>
          <hr />
          <ol>
            <li>
              Noé E., Moliner B., O’Valle M., Balmaseda R., Colomer C., Navarro M.D., Ferri J. Del Estado vegetativo al
              de vigilia sin respuesta. Una revisión histórica. Revista de Neurología, 2012. 55(5): 306-13.
            </li>
            <li>
              Noé E., Olaya J., Navarro M.D., Noguera P., Colomer C., García-Panach J., Rivero S., Moliner B., Ferri J.
              Behavioral recovery in disorders of consciousness: a prospective study with the Spanish version of the
              Coma Recovery Scale-Revised. Archives of Physical Medicinie Rehabilitation, 2012 Mar;93(3):428-33.
            </li>
            <li>
              Ferri J., Noé E., Llorens R. The Spanish version of the coma recovery scale-revised: Events on a correct
              timeline. Brain Injury. 2015. 21:1-2.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
