{% extends "layout/body.html" %} {% block header %}
<div class="mt-5" style="padding-top: 4.5rem">
  <h1 class="display-4 text-center text-dark">Areas</h1>
</div>
{% endblock %} {% block main %}
<section class="clean-block clean-faq dark">
  <div class="container">
    <div style="padding-top: 0px; margin-top: 60px">
      <h1 class="display-4 text-left text-dark" style="margin: 7px; margin-bottom: -9.8px; margin-left: -4px">
        Self-awareness
      </h1>
      <hr />
      <div class="d-flex justify-content-end faq-item" style="margin-bottom: 0px">
        <em class="paFacilities" style="font-size: 25px">
          <p>
            The successful alleviation of the clinical consequences of acquired brain injury depends not only on their
            intensity, but also on their level of self-awareness.<sup><a href="#References"
                style="color: blue">1</a></sup>
            Impaired self-awareness has been defined as a reduced ability to appraise one’s strengths and weaknesses and
            the implications for daily life activities at present and in the future. Self-awareness is a broad and
            complex concept that imply the interaction of different cognitive processes and primary human psychological
            functions. As a proof of its complexity, there is no consensus of the neural signatures of this ability.
            Although impairments of self-awareness were preliminary linked to frontal lobe, recent studies suggest that
            they may result from breakdown of functional interactions between nodes within the fronto-parietal control
            network.<br /><br />
            Self-awareness deficits can have serious implications for everyday functioning. They can make patients not
            understand the purpose of their participation in a neurorehabilitation program, and, in consequence,
            patients can present lack of motivation and cooperation, and even irritability. They can also lead patients
            to set unrealistic goals, thus complicating their everyday functional competence, and vocational reentry. In
            addition, impairments in emotional self-awareness can affect the understanding of the differences between
            oneself and others, the adaptation to another’s perspective, and the modulation of the behavior to other’s
            reactions. Consequently, self-awareness deficits can have a special impact on social skills and emotional
            regulation, which can make community integration difficult.<br />
          </p>
        </em>
      </div>
      <br />
    </div>
    <div class="shadow-none block-content">
      <div class="faq-item">
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Group therapy with a game board</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Different strategies have been proposed to improve impairments in self-awareness. Many studies have explored
            the effectiveness of behavioral interventions, confrontational techniques, motivational interviews,
            counseling, and psychotherapy. Interventions commonly incorporate feedback of performance of tasks, whether
            verbally by a therapist or visually by previous videotaped sessions. Interestingly, educational formats have
            shown to help understanding of the residual impairments and their implications, which can be promoted by
            group therapy programs, even using game-based approaches. However, although the promising results after
            group interventions, little research has been done on the interactions between SA and social skills. We
            developed a game-based group therapy that focuses on social interaction to improve self-awareness. During
            the intervention, participants are divided into groups of two people that present similar cognitive
            conditions and play a customized game board, which represents a mountain climbing. Each team strove to reach
            the summit first by correctly answering questions presented on cards as fast as possible. Question cards
            included four different types of questions: knowledge (anatomical and pathological matters), reasoning
            (situational exercises), action (role-playing exercises), and cohesion (jokes and sayings).
          </p>
          <br />
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/8.png" />
        </div>
        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            On their turn, each team rolled a dice to move their game piece to the corresponding game board square and
            then answered a random question from those categorized under the square color. Teams answering correctly
            moved on to the following square (without answering a question). Some squares distributed throughout the
            game board caused teams lose a turn (avalanche, bear attack, etc.). Other squares granted participants
            special abilities to steal another participant’s question or to assign their own question to another
            participant.<br /><br />

            A preliminary study involving individuals with acquired brain injury showed that participants improved their
            perception of deficits and disability and their plan-making after the intervention.<sup><a
                href="#References" style="color: blue">2</a></sup><br />
          </p>
        </div>
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px">
            <strong>Group therapy with a multitouch tabletop system</strong><br />
          </h4>
          <hr />
          <p style="font-size: 22px">
            More recently, we have developed a multitouch tabletop system that provides augmented audiovisual feedback,
            improves the management of participants, and register the results. A multi-touch screen was embedded into a
            conventional table to display the game board. Participants engage by touching elements presented on the
            screen.
          </p>
          <br />
          <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/3.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/1.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/2.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/4.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/5.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/6.png" alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="w-100 d-block" src="/resources/uploads/project/self-awareness/7.png" alt="Slide Image" />
              </div>
            </div>
            <div>
              <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                  class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                  class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="1"></li>
              <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            Interventions involving the tabletop system provided similar effects to those with the game board. Pilot
            studies involving individuals with acquired brain injury confirmed the improvement in the perception of
            deficits and disability and their plan-making, and evidenced an improvement in the social skills, which
            could be derived from the group therapy.<sup><a href="#References" style="color: blue">3</a></sup> In
            addition, the differences in the perception of deficits between patients and their relatives and frontal
            systems behavioral syndromes decreased after the intervention.<sup><a href="#References"
                style="color: blue">4</a></sup>
          </p>
          <p style="font-size: 22px">
            When only subjects with traumatic brain injury were enrolled, the experimental intervention supported
            previous results in acquired brain injury population, showing an improvement in perceptions of deficits, of
            their implications, and of long-term planning, and on the social skills and behavior.<sup><a
                href="#References" style="color: blue">5</a></sup>
            These results are specially interesting due to the high incidence of these deficits after traumatic
            injuries, ranging from 45% to 97% of the cases, which could be derived from the diffuse neuroanatomical
            distribution of the self-awareness neural network that makes it extraordinary vulnerable to diffuse axonal
            injury.<br />
          </p>
          <p style="font-size: 22px">
            Participant self-reports exhibited strong program acceptance. Subjects reported high levels of interest and
            enjoyment, found themselves competent but not pressured, and considered the intervention useful. In
            addition, they deemed the system highly accessible.<sup><a href="#References"
                style="color: red">4,5</a></sup><br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <iframe width="631" height="355" src="https://www.youtube.com/embed/FkZFf_aAnE4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div style="margin-top: 38px" id="References">
          <h4 class="question" style="font-size: 24px"><strong>References</strong><br /></h4>
          <hr />
          <ol>
            <li>
              Noé E., Ferri J., Caballero M.C., Villodre R., Sánchez A., Chirivella J. (2005). Self-awareness after
              acquired brain injury: predictors and rehabilitation. Journal of Neurology, 252(2):168-75.
            </li>
            <li>
              Caballero C., Ferri J., García M.C., Chirivella J., Renau O, Ferri N., Noé E. (2007). Escalada de la
              conciencia. Un instrumento para mejorar la conciencia de enfermedad en pacientes con daño cerebral
              adquirido. Revista de Neurología, 44(6): 334-338.
            </li>
            <li>
              Llorens R., Navarro M.D., Alcañiz M., Noé E. (2012) Therapeutic effectiveness of a virtual reality game in
              self-awareness after acquired brain injury. Studies in Health Technology and Informatics. 181:297-301.
            </li>
            <li>
              Llorens R., Alcañiz M., Navarro M.D., Ferri J. (2013) Self-awareness rehabilitation through a multi-touch
              virtual game board after acquired brain injury. International Conference on Virtual Rehabilitation 2013,
              134-138.
            </li>
            <li>
              Llorens R., Noé E., Ferri J., Alcañiz M. (2015) Videogame-based group therapy to improve self-awareness
              and social skills after traumatic brain injury. Journal of NeuroEngineering and Rehabilitation. 12: 37.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
