{% extends "layout/body.html" %}
{% block main %}
<section class="">
  <div class="container">
    <div style="padding-top: 0px; margin-top: 60px">
      <h2 class="" style="">
        Unilateral spatial neglect
      </h2>
      <hr class="mt-0">

      <div class="d-flex justify-content-end faq-item" style="margin-bottom: 0px">
        <em class="paFacilities" style="font-size: 25px">Unilateral spatial neglect is a common and heterogeneous
          clinical consequence usually observed after a damage
          to the non-dominant cerebral hemisphere. Neglect affects the perception of contralesional environmental
          stimuli and can manifest in the visual, auditory, and tactile channels. Clinically, it can impair motor,
          visual, and sensory perceptions and can be caused by a number of widespread lesions affecting cortical and
          subcortical areas, particularly in the right hemisphere. Unilateral spatial neglect can manifest in personal
          space, affecting activities such as dressing and hair combing; in peripersonal space, affecting activities
          such as eating and working; and in extrapersonal space, affecting activities such as walking and driving.
          Different combinations of symptoms, lesions, and deficits can occur in different subjects at different times.
          This makes assessment a difficult task and also explains why even though many treatments have been tried, none
          has been found to be uniformly successful or consistently effective. This is particularly relevant in the
          chronic stage, which has been associated with poor functional recovery.<br /></em>
      </div>
      <br />
    </div>
    <div class="shadow-none block-content">
      <div class="faq-item">
        <p style="font-size: 22px">
          The severity of this syndrome has traditionally been assessed with paper-and-pencil tests, including line
          crossing, line bisection, letter and star cancellation, and copy and drawing tasks. However, most of these
          measures lack correspondence to activities of daily living. Moreover, visual scanning training can lead
          individuals to learn how to compensate on these tasks. Thus, it is common for subjects to improve their scores
          on paper-and-pencil tests through practice, without showing an associated improvement in real-life situations.
          To overcome these limitations new behavioral psychometric tests have recently been developed. For instance,
          the Rivermead Behavioural Inattention Test assesses everyday skills, such as phone dialing, coin sorting, and
          map navigation. Over the past few years, this test has become one of the most widely used test for assessing
          neglect. However, the long duration of this test is time-consuming for clinical staff and can be tiresome for
          many subjects, particularly those with prominent attentional problems. The need for a rehabilitative therapist
          to administer the test and its psycholinguistic requirements may also prevent the widespread use of the
          Behavioural Inattention Test.<br />
        </p>
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Virtual reality</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            The introduction of virtual reality to the field of neurorehabilitation has given rise to new tools for the
            assessment and rehabilitation of cognitive impairments that were designed to overcome the limitations of
            traditional tests and interventions. Virtual reality systems can recreate safe, ecological, and
            individualized 3D environments where individuals are required to perform specific actions to achieve a goal.
            As an assessment tool, virtual reality can register and objectively measure the performance of individuals
            within the virtual world and their behavioral responses. Virtual street-crossing systems are particularly
            interesting because they provide therapists with ecological and behavioral data for the evaluation of
            extrapersonal neglect and patient autonomy in the outdoor environment. They also allow for the recreation of
            a potentially hazardous real-life situation, which cannot otherwise be trained. Street crossing involves
            intact attentional, perceptual and executive skills to evaluate whether traffic conditions guarantee the
            safe performance of the task.
          </p>
          <br />
          <p style="font-size: 22px">
            We developed a virtual reality street-crossing system that consisted of a standard computer, an audio-visual
            output system, an infrared tracking system TrackIR 4:PRO (NaturalPoint Inc., Corvallis, OR), and a
            joystick.<sup><a href="#References" style="color: blue">1</a></sup> The tracking system consists of an
            infrared camera, which was attached to the upper side of the screen, and a clip with a constellation of
            three reflective marks, which was mounted on a cap. Only the yaw angle was transferred to the virtual world
            to represent the rotation of the head when exploring the traffic conditions of the roads. Navigation within
            the virtual environment was enabled by the joystick. The system allowed subjects to walk (forward, backward,
            left, and right), stop, and turn. The virtual system recreates a real street intersection with a central
            roundabout that can be customized with traffic lights, litter baskets, and sound distractors, such as
            ambulance sirens. The interactive area of the virtual environment consists of a crosswalk that intersects
            two two-way roads with median strips that lead to the roundabout. The virtual world is presented using a
            first-person view. A random number of cars drive through the roads and behave in accordance with the traffic
            conditions.<br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <iframe width="631" height="355" src="https://www.youtube.com/embed/8FZ1FJCr_nI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            To determine the convergent validation of the virtual reality system with standardized clinical tests we
            enrolled healthy subjects, and individuals with stroke with and without neglect.<sup><a href="#References"
                style="color: red">2</a></sup>
            All the participants underwent two consecutive sessions, where they were asked to move from the starting
            point to a large department store and then to come back as quickly and safely as possible.
          </p>
          <br />
          <p style="font-size: 22px">
            Healthy subjects completed the task more quickly and safely than individuals with stroke. From these,
            individuals without neglect finished the task more quickly and safely than participants with neglect.
            Individuals with stroke without neglect looked to the left and to the right side of the road more often than
            participants with neglect or healthy subjects. For stroke participants without neglect, the number of left
            turns was higher than the number of right turns. The time to complete the task significantly correlated with
            all timed tests (Conner’s Continuous Performance Test-II, Color Trail Test, and Behavioral Assessment of the
            Dysexecutive Syndrome) and with the number of errors on the Continuous Performance Test and the raw scores
            on the Behavioral Assessment of the Dysexecutive Syndrome tests. The number of head turns to the left and
            right significantly correlated with the Stroop Test, and the number of left head turns also correlated with
            the Rivermead Behavioural Inattention Test. The outcomes of the virtual reality system, the scores of the
            neuropsychological tests, and the correlations between them confirmed the reliability and convergent
            validity of the street-crossing system. Its low-cost could also facilitate its integration and use in the
            clinical setting.<br />
          </p>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center align-content-center">
              <img class="d-block" style="width: 300px; margin-right: 20px"
                src="/resources/uploads/project/areas/3.png" /><img class="d-block" style="width: 300px"
                src="/resources/uploads/project/areas/4.png" />
            </div>
          </div>
        </div>

        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Eye tracking</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Some of the behavioural tests, as the Behavioral Inattention Test, evaluate the performance on daily
            activities such as phone dialling, coin sorting, or map navigation, in addition to performance on
            conventional cancellation tasks. However, the long duration of these tests can make them tiresome for many
            patients and time-consuming for clinicians. The need for a therapist during the test and its
            psycholinguistics requirements could also prevent their widespread use. Eye tracking is the process of
            measuring either the point of gaze (where one is looking) or the motion of an eye relative to the head. This
            information can be used to infer levels of presence, attention, focus, drowsiness, consciousness or other
            mental states, which is of special interest to research on the visual system, in psychology, and human
            computer interaction.
          </p>
          <br />
          <p style="font-size: 22px">
            To explore the potential of this technology for assessing unilateral spatial neglect in stroke survivors we
            performed a pilot study with a 65-year-old woman with an ischemic focal lesion in the non-dominant cerebral
            hemisphere who was admitted to our facility.<sup><a href="#References" style="color: red">3</a></sup>
            Symptomatology included severe left hemiparesis and pronounced unilateral spatial neglect syndrome. The
            woman and a healthy age-matched woman were enrolled in an eye tracking study where they were required to
            look for 60 seconds an image of the Behavioral Inattention Test and name the items present in it. Gaze
            parameters of both subjects were recorded and heat maps were estimated as superimposed distributions of eye
            fixations. In contrast to the healthy subject (see left column), who revealed distributed fixations in all
            the image, the stroke survivor presented an absence of fixations in the left side of the image (see right
            column), thus confirming the diagnosis and illustrating the behavioral complications that affected her
            everyday functioning.
          </p>
          <br />
          <p style="font-size: 22px">
            Benefits of this protocol could be threefold: first, it provides qualitative (visual) but also quantitative
            (fixation times, gaze patterns, etc.) information; second, it is easy to administer and not time-consuming;
            and third, no specific cognitive or psycholinguistic condition is required to patients. In addition,
            low-cost eye-tracking devices are available for $100. Even though these results are preliminary and the
            study focuses on the visual input and the peripersonal space, it could be a potential tool to provide
            relevant information about the deficits and their functional consequences.<br />
          </p>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center align-content-center">
              <img class="d-block" style="width: 300px; margin-right: 20px"
                src="/resources/uploads/project/areas/11.png" /><img class="d-block" style="width: 300px"
                src="/resources/uploads/project/areas/12.png" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center align-content-center">
              <img class="d-block" style="width: 300px; margin-right: 20px"
                src="/resources/uploads/project/areas/13.png" /><img class="d-block" style="width: 300px"
                src="/resources/uploads/project/areas/14.png" />
            </div>
          </div>
        </div>
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px" id="References"><strong>References</strong><br /></h4>
          <hr />
          <ol>
            <li>
              Llorens R., Navarro M.D., Alcañiz M., Colomer C., Noé E. Convergent validation of a virtual reality-based
              street crossing with neuropsychological tests in neglected and non-neglected stroke patients. 9th Intl
              Conf. Disability, Virtual Reality & Associated Technologies, 2012. 467-470.
            </li>
            <li>
              Navarro M.D., Llorens R., Noé E., Ferri J., Alcañiz M. Validation of a low-cost virtual reality system for
              training street-crossing. A comparative study in healthy, neglected and non-neglected stroke individuals.
              Neuropsychological Rehabilitation, 2013. 23(4): 597-618.
            </li>
            <li>
              Llorens R., Noé E. Through the eyes of neglect patients. The Journal of Neuropsychiatry & Clinical
              Neurosciences, 2015. 28(1): e8-e9.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
