{% extends "layout/body.html" %} {% block header %}
<div class="mt-5" style="padding-top: 4.5rem">
  <h1 class="display-4 text-center text-dark">Areas</h1>
</div>
{% endblock %} {% block main %}
<section class="clean-block clean-faq dark">
  <div class="container">
    <div style="padding-top: 0px; margin-top: 60px">
      <h1 class="display-4 text-left text-dark" style="margin: 7px; margin-bottom: -9.8px; margin-left: -4px">
        Upper limb
      </h1>
      <hr />
      <div class="d-flex justify-content-end faq-item" style="margin-bottom: 0px">
        <em class="paFacilities" style="font-size: 25px">Motor impairments are a common consequence after acquired brain
          injury and a major cause of disability.
          Specifically, upper limb paresis is among the most significant deficits and represents an important obstacle
          for independence. Impairment of upper limb motor function is present in more than 80% of stroke survivors, and
          moderate dexterity after six months is only expected in 30 to 40% of the cases. Recovery of motor function
          after a brain injury involves neural reorganization of spared areas in both hemispheres to take over functions
          previously driven by the injured areas. However, reorganization is not driven by mere repetition. It only
          occurs when experience implies learning. Therefore, it can be deduced that motor rehabilitation should focus
          on driving plasticity by experiences that mean a challenge for the motor skills of the patients. In addition,
          motor learning principles, such as intensity, repetition, task-orientation, and feedback have proven to
          modulate the functional improvement after stroke.</em>
      </div>
    </div>
    <div class="shadow-none block-content">
      <div class="faq-item">
        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Robot-assisted therapy</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Although different meta-analysis have shown that robot-assisted therapy has similar effects to conventional
            physical therapy when intensity is matched, rehabilitation robotics can increase the intensity of the
            training.<br /><br />We examined the efficacy of a robot-assisted intervention with the Armeo® Spring
            (Hocoma, Volketswil, Switzerland) for upper limb rehabilitation in individuals with chronic stroke. Our
            findings revealed that after an intervention using the robotic system, participants showed significant
            improvement for all function and activity scales, without significant changes in muscle tone.<sup><a
                href="#References" style="color: blue">1</a></sup>
            Our results supported previous research in the field, suggesting that robotic-assisted therapy could be
            combined with physical therapy interventions to enhance the outcomes of upper limb rehabilitation.
          </p>
          <br />
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/1-armeo.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/2-armeo.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/3-armeo.png"
                  alt="Slide Image" />
              </div>
              <div class="carousel-item">
                <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/4-armeo.png"
                  alt="Slide Image" />
              </div>
            </div>
            <div>
              <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                  class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                  class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="1"></li>
              <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>

        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Virtual reality-based interventions</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Virtual reality is an especially interesting research field since it allows to recreate computer-generated
            environments and provide customized experiences involving different sensory channels, commonly sight,
            hearing, and/or touch. An increasing number of studies report promising results of its application to motor
            rehabilitation after stroke, specifically for upper limb. First, movement kinematics when reaching,
            grasping, transporting, and releasing objects in a virtual environment are comparable to those in the
            physical world, thus suggesting that the training of arm movements in virtual reality can be a feasible
            alternative. Second, virtual reality has been shown effective at improving proximal and global reaching and
            grasping movements in individuals with stroke in acute and chronic stages. Third, distal fine motor control
            has also been effectively improved using virtual reality, generally combined with robotic-like devices.
            Finally, controlled trials suggest that virtual reality may be beneficial to improve upper limb function and
            performance in activities of daily living, to a greater extent than same dosage of conventional therapy.
          </p>
          <br />

          <p style="font-size: 22px">
            Basing on the existing evidence, we have developed a virtual reality-based system that satisfies the motor
            learning and neural plasticity principles to promote the rehabilitation of task-directed movements of the
            paretic upper limb. The system fits the motor condition of each subject allowing the training of a wide
            spectrum of movements, from gross proximal movements to finger dexterity, while being portable and
            inexpensive, in contrast to robotic systems.
          </p>
          <p style="font-size: 22px">
            The hardware components of the tabletop system consist of a table, a standard computer, a projector, and a
            depth sensor, as the Kinect™ (Microsoft, Redmond, WA).<sup><a href="#References"
                style="color: blue">2</a></sup>
            The projector and the sensor are fixed in an upper plane of the table oriented to its surface. This way, the
            projector displays the virtual environment on the table and the patients interact within it through
            movements of their own extremities.<br />
          </p>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/9-umbrella.png"
            alt="Slide Image" />
        </div>

        <div style="margin-top: 38px">
          <p style="font-size: 22px">
            Each exercise requires a specific calibration to define the position in which the implied segments and
            external objects (if needed) are in contact with the surface. Generally, the segments and objects are
            estimated using the depth information and their skeletons and their mass centers are defined using the
            distance matrix of the segments. In those exercises which mostly imply the metacarpophalangeal and
            interphalangeal joints, a special effort is done to track the fingers. In this case, the hand is segmented
            likewise and then the convex hull is applied to estimate the fingers.
          </p>
          <br />

          <p style="font-size: 22px">
            With the described tracking capabilities we developed a set of exercises that cover movements that were
            likely to belong to the motor repertory of the patients previously to the injury, aiming to maximize the
            correlation of the virtual tasks with the real ones. For instance, the objectives of some exercises are to
            dial a telephone number, to cook, to knock a door, etc. To examine the clinical efficacy of the system we
            enrolled individuals with chronic stroke in a reversal (A-B-A) study.<sup><a href="#References"
                style="color: blue">3,4</a></sup>
            Phase A involved conventional physical therapy, and phase B involved an experimental intervention with the
            virtual reality-based system. Although no significant differences were detected in either the body
            structures or functions, participants showed a significant improvement in the body activities after the
            whole intervention, significantly promoted by the virtual reality-based intervention (Phase B). However,
            this improvement was detected neither after the previous nor the following physical therapy intervention.
          </p>
          <br />

          <p style="font-size: 22px">
            Our results support the clinical effectiveness of virtual reality-based interventions that satisfy the motor
            learning principles for upper limb rehabilitation in chronic stroke survivors. This characteristic, together
            with the low cost of the system, its portability, and its acceptance could promote the integration of these
            systems in the clinical practice as an alternative to more expensive systems, such as robotic instruments.

            <br />
          </p>
          <div class="d-flex justify-content-center align-content-center">
            <iframe width="631" height="355" src="https://www.youtube.com/embed/rtG-FlY_BVs"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>

        <div style="margin-top: 38px">
          <h4 class="question" style="font-size: 24px"><strong>Mirror therapy</strong><br /></h4>
          <hr />
          <p style="font-size: 22px">
            Robotic-assisted and virtual reality-based interventions require residual motor function to be included in
            rehabilitation protocols. Then, what therapeutic options have those individuals with severe paresis, which
            impedes active training of the arm and hand? Traditionally, rehabilitation strategies in these subjects have
            almost exclusively aimed to compensate for the deficit by training the opposite limb in daily tasks. As
            synaptic connectivity is highly use dependent, this absence of stimulation on the chronic paretic arm
            results in reduced sensorimotor representation in the available neural circuits over time and consequently
            diminishes the possibilities for sensorimotor clinical progress. Accordingly, a reduction in sensorimotor
            abilities might partly be an effect of non-use of the affected limb. Mirror therapy has been posed to
            address these issues because it does not require active movements of the affected arm.
          </p>
          <br />

          <p style="font-size: 22px">
            Mirror therapy uses a mirror to occlude the affected arm and reflect the movements of the non-affected arm,
            thus tricking the brain to feel that the movement is performed with the affected arm.
          </p>
          <br />
          <div class="d-flex justify-content-center align-content-center">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/1-Mirror.png"
                    alt="Slide Image" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/2-Mirror.png"
                    alt="Slide Image" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/3-Mirror.png"
                    alt="Slide Image" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/4-Mirror.png"
                    alt="Slide Image" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" style="width: 600px" src="/resources/uploads/project/areas/5-Mirror.png"
                    alt="Slide Image" />
                </div>
              </div>
              <div>
                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                  class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                    class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
          <p style="font-size: 22px">
            Preliminary results with phantom limbs syndrome and pain management have motivated the application of mirror
            therapy to sensorimotor rehabilitation after stroke. Previous research has shown that this therapy can
            improve the motor function of chronic individuals with stroke with mild to moderate impairment. Moreover,
            interventions involving stroke survivors with severe upper limb paresis have been shown to provide limited
            motor improvement in the acute or sub-acute phase. However, no previous research has described the effects
            of mirror therapy in chronic individuals with stroke with severely impaired upper limb function. To examine
            this, we enrolled chronic subjects post-stroke with severely impaired upper limb function, who were randomly
            involved in a passive mobilization program or mirror therapy.<sup><a href="#References"
                style="color: blue">5</a></sup>
          </p>
          <br />
          <p style="font-size: 22px">
            After the clinical trial, an improvement in motor function was observed in both groups on time and ability,
            while no differences were detected in kinesthesis or stereognosis. However, individuals who underwent the
            mirror therapy showed a significant improvement in tactile sensation that was mainly observed as an
            increased sensitivity to light touches. Consequently, in comparison with passive mobilization, mirror
            therapy in chronic stroke survivors with severely impaired upper-limb function may provide a limited but
            positive effect on light touch sensitivity while providing similar motor improvement.
          </p>
        </div>

        <div style="margin-top: 38px" id="References">
          <h4 class="question" style="font-size: 24px"><strong>References</strong><br /></h4>
          <hr />
          <ol>
            <li>
              Colomer C., Baldoví A., Torromé S., Navarro M.D., Moliner B., Ferri J., Noé E. Efficacy of Armeo® Spring
              during the chronic phase of stroke. Study in mild to moderate cases of hemiparesis. Neurología. 2013.
              28(5):261-267.
            </li>
            <li>
              Llorens R., Marín C., Ortega M., Alcañiz M., Colomer C., Navarro M.D., Noé E. Upper limb tracking using
              depth information for rehabilitative tangible tabletop systems. 9th Intl Conf. Disability, Virtual Reality
              & Associated Technologies, 2012. 463-466.
            </li>
            <li>
              Llorens R., Colomer C., Noé E., Ortega M., Alcañiz M. Functional improvement of hemiparetic upper limb
              after a virtual reality-based intervention with a tabletop system and tangible objects. 10th Intl Conf. on
              Disability, Virtual Reality and Assoc. Technologies, 2014, pp. 99-106.
            </li>
            <li>
              Colomer C., Llorens R., Noé E., Alcañiz M. Effect of a mixed reality-based intervention on arm, hand, and
              finger function on chronic stroke. Journal of NeuroEngineering and Rehabilitation, 2016, 13:45.
            </li>
            <li>
              Colomer C., Noé E., Llorens R. Mirror therapy in chronic stroke survivors with severely impaired upper
              limb function: A randomized controlled trial. European Journal of Physical and Rehabilitation Medicine,
              2016. Jun; 52(3):271-8.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
