{% extends "layout/body.html" %}
{% block main %}
<section class="clean-block clean-faq dark pb-0">
  <div>
    <h2 class="text-primary" style="margin: 7px; margin-bottom: 0px;
      margin-left: 0px; margin-top: 0px">
      Description
    </h2>
    <hr class="mt-0" />
  </div>
  <div class="row">
    <div class="col-4 d-none d-lg-block">
      <!-- <img class="w-100" style="height: 50%; object-fit: cover" src="/resources/uploads/img/facilities.svg" /> -->
      <img class="img-fluid" src="/resources/uploads/img/facilities.svg" />
    </div>

    <div class="col me-3" style="margin-bottom: 0px">
      <p class="text-justify h5" style="font-style: italic">
        The Neurorehabilitation and Brain Research Group shares different spaces
        in i3B Institute,
        Neurorehabilitation Unit of NISA Hospitals, and Labpsitec, which allow
        human stimulation and behavior
        analysis for neuroscience research, but also clinical research and
        practice. In i3B Institute, a multi-room
        configuration, managed by a centralized control system, enables
        different studies going on at the same time.
        Five experimental rooms and two observational rooms with one-way mirror
        and private audio and video network
        can be configured to create realistic scenarios that are comparable to
        real life environments. The
        Neurorehabilitation Unit of NISA Hospitals has five rehabilitation
        centers that include dedicated areas for
        physical therapy, occupational therapy, cognitive rehabilitation, speech
        rehabilitation, etc., a swimming
        pool for aquatic therapy, and a fully automated home setting for motor
        disabled people.
      </p>
    </div>
  </div>

  <div class="shadow-none block-content">
    <div>
      <h2 class="text-primary pt-5">
        Stimulation
      </h2>
      <hr class="mt-0" />
      <div class="ms-3 text-justify">
        <h4 class="h5 text-decoration-underline">Transcranial direct current
          stimulation</h4>
        <p class="ms-4">
          Transcranial direct current stimulation delivers constant low current
          to the brain area of interest via
          electrodes on the scalp.&nbsp;<span class="text-primary">StarStim</span>
          (Neuroelectrics, Barcelona, Spain) is a wireless hybrid
          EEG/tDCS 8-channel neurostimulator that includes a comfortable
          neoprene headcap with 39 positions based on
          the 10-10 system where the electrodes can be easily inserted.
        </p>
      </div>
      <div class="ms-3 text-justify mt-4">
        <h4 class="h5 text-decoration-underline">CAVE system</h4>
        <p class="ms-4">
          A 4-wall 3D&nbsp;<span class="text-primary">CAVE system</span>&nbsp;(Barco
          N.V., Kortrijk, Belgium) allows user immersion in
          stereoscopic scenarios with a 7.1 sound system or with Bluetooth
          headphones. The system uses 4
          projectors&nbsp;<span class="text-primary">F35 AS3D WUXGA</span>&nbsp;(ProjectionDesign,
          Fredrikstad, Norway) and incorporates
          head and hands tracking through 4 infrared tracking cameras&nbsp;<span
            class="text-primary">ARTTRACK 2</span>&nbsp;(Advanced
          Realtime Tracking GmbH, Weilheim in Oberbayern, Germany) &nbsp;and
          navigation
          through&nbsp;<span class="text-primary">Flystick3</span>&nbsp;(Advanced
          Realtime Tracking GmbH, Weilheim in Oberbayern, Germany).
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Videowall system</strong></h4>
        <p style="font-size: 22px">
          A setup that consists of two video projectors&nbsp;<span>Mirage
            HD3&nbsp;</span>&nbsp;projector (Christie
          Digital Systems USA Inc, Cypress, CA, USA) provides a stereoscopic 6 x
          2 meter display that also allows head
          and hands tracking through other 4 infrared tracking cameras&nbsp;<span>ARTTRACK2</span>&nbsp;and
          navigation
          through&nbsp;<span>Flystrick3</span>.
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px">Walking room-size virtual
          reality system</h4>
        <p style="font-size: 22px">
          An optical-based system that consists of a head mounted display, a
          Bluetooth headset and a videocamera
          allows navigation in virtual and mixed reality environments by walking
          in an area of 4 x 6 meter.
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Head mounted
            displays</strong></h4>
        <p style="font-size: 22px">
          Different head mounted displays are available for augmented, mixed,
          and virtual reality applications.
          Available devices for virtual reality applications include the Oculus
          Rift DK1, the Oculus Rift DK2 (Oculus
          VR, Irvine, CA, USA), and the Samsung Gear VR (Samsung, Suwon, South
          Korea). Optical see-through devices
          available for augmented reality applications are the Meta1 (Meta
          company, Portola Valley, CA), which
          incorporates a 3D time-of-flight depth camera with 320×240 pixel
          resolution, the Moverio BT-200 (Epson,
          Suwa, Japan), the Google Glass (Google, Menlo Park, CA, USA), and the
          Vuzix M200 (Vuzix, Rochester, NY,
          USA).
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Scent emitting
            system</strong></h4>
        <p style="font-size: 22px">
          The Scent Palette (HeadHunter200 Inc., Northlake, IL, USA) can emit a
          selected scent and produce a sequence
          of different smells controlled by a computer. The stimulation can also
          be provided additionally to other
          sensory stimulation in virtual reality settings.
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>TV screens and
            projectors</strong></h4>
        <p style="font-size: 22px">
          Different additional TV and projectors with different features are
          available to customize the required setup
          for each experiment.
        </p>
      </div>
    </div>
  </div>
</section>


<div class="row">
  <div class="offset-md-2 col-md-8 offset-md-2">
    <section class="pt-3 text-white clean-block clean-info dark">

      <!-- carousel -->

      {% include '/layout/components/carousel.html' %}
      <!-- end carousel -->

    </section>
  </div>
</div>


<section class="clean-block clean-faq dark">
  <div class="shadow-none block-content">
    <div class="faq-item">
      <h2 class="text-primary pt-5">
        Monitoring, behavior tracking, and capture<br />
      </h2>
      <hr class="mt-0" />
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Electroencephalography</strong><br
            /></h4>
        <p style="font-size: 22px">
          &nbsp;<br />Electroencephalography records the electrical activity of
          the brain through electrodes that are
          fixed to the scalp. Different solutions can be used depending on the
          experimental conditions. The&nbsp;<span>TMSi Refa</span>&nbsp;(Twente
          Medical Systems International B.V., Oldenzaal, Netherlands) is a
          32-channel ambulatory and
          stationary system for physiological research that allows to retrieve
          data from water based sensors. For
          mobile applications, the&nbsp;<span>StarStim</span>&nbsp;allows to
          retrieve data from 8 channels wirelessly
          in hybrid configurations of transcraneal direct current stimulation,
          and the&nbsp;<span>B-Alert X10</span>&nbsp;(Advanced Brain Monitoring,
          Inc., Carlsbad, CA, USA) provides 9 channels of combined mid-line and
          lateral EEG sites plus an additional channel of electrocardiography,
          electromyography, or electroculography.
          In addition, four&nbsp;<span>EPOC</span>&nbsp;headsets (Emotiv
          Systems, Kwun Tong, Hong Kong).<br /><br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Eye tracking</strong><br
            /></h4>
        <p style="font-size: 22px">
          &nbsp;Eye tracking technology estimates where individuals direct their
          eyes along time. These data can
          provide information about attention, information processing, presence,
          focus, drowsiness, consciousness, or
          other mental states. Eye tracking information can be retrieved using
          different devices. The&nbsp;<span>Tobii TX30</span>&nbsp;(Tobii
          Technology AB, Danderyd, Sweden) collects gaze data at 300 Hz yet
          allows large head movements,
          thus enabling the study of saccades, correction saccades, fixations,
          pupil size changes, and blinks. Other
          portable solutions are also available for different setups, as the
          low-cost&nbsp;<span>Tobii EyeX</span>&nbsp;(Tobii Technology AB,
          Danderyd, Sweden) and the&nbsp;<span>Eye Tribe</span>&nbsp;
          (Copenhagen,
          Sweden) or the high performance<span>SMI Eye Tracking Glasses 2</span>&nbsp;(SensoMotoric
          Instruments GmbH,
          Teltow, Germany). This device not only allows to record a person’s
          natural gaze behaviour in real-time in a
          broad range of daily life applications but also in our CAVE system,
          for which the&nbsp;<span>Arrington Scene Camera Eye Tracking</span>&nbsp;(Arrington
          Research Inc, Scottsdale, AZ, USA).<br /><br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Electromyography</strong><br
            /></h4>
        <p style="font-size: 22px">
          A setup that consists of two video projectors&nbsp;<span>Mirage
            HD3&nbsp;</span>&nbsp;projector (Christie
          Digital Systems USA Inc, Cypress, CA, USA) provides a stereoscopic 6 x
          2 meter display that also allows head
          and hands tracking through other 4 infrared tracking cameras&nbsp;<span>ARTTRACK2</span>&nbsp;and
          navigation
          through&nbsp;<span>Flystrick3</span>.<br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px">Walking room-size virtual
          reality system<br /></h4>
        <p style="font-size: 22px">
          An optical-based system that consists of a head mounted display, a
          Bluetooth headset and a videocamera
          allows navigation in virtual and mixed reality environments by walking
          in an area of 4 x 6 meter.<br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Head mounted
            displays</strong><br /></h4>
        <p style="font-size: 22px">
          Different head mounted displays are available for augmented, mixed,
          and virtual reality applications.
          Available devices for virtual reality applications include the Oculus
          Rift DK1, the Oculus Rift DK2 (Oculus
          VR, Irvine, CA, USA), and the Samsung Gear VR (Samsung, Suwon, South
          Korea). Optical see-through devices
          available for augmented reality applications are the Meta1 (Meta
          company, Portola Valley, CA), which
          incorporates a 3D time-of-flight depth camera with 320×240 pixel
          resolution, the Moverio BT-200 (Epson,
          Suwa, Japan), the Google Glass (Google, Menlo Park, CA, USA), and the
          Vuzix M200 (Vuzix, Rochester, NY,
          USA).<br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>Scent emitting
            system</strong><br /></h4>
        <p style="font-size: 22px">
          The Scent Palette (HeadHunter200 Inc., Northlake, IL, USA) can emit a
          selected scent and produce a sequence
          of different smells controlled by a computer. The stimulation can also
          be provided additionally to other
          sensory stimulation in virtual reality settings.<br />
        </p>
      </div>
      <div class="ml-5 text-justify" style="margin-top: 38px">
        <h4 class="question" style="font-size: 24px"><strong>TV screens and
            projectors</strong><br /></h4>
        <p class="mb-0 pb-2" style="font-size: 22px">
          Different additional TV and projectors with different features are
          available to customize the required setup
          for each experiment.<br />
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
